.xcode-modal{
    .xcode-modal-up{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: var(--tiklab-padding) var(--tiklab-padding) 0;
        &>div:first-child{
            font-size: 15px;
            font-weight: var(--tiklab-font-weight-bold);
        }
    }
    .xcode-modal-content{
        padding: 0 var(--tiklab-padding);
        max-height:calc(100% - 55px);
        min-height: 50px;
        overflow:auto;
    }
}

.tiklab_modal {
    .ant-table-thead > tr > th {
        background: var(--tiklab-white);
        font-weight: normal;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
        padding: 8px;
    }

    .ant-table-cell{
        border-bottom: 0 solid #f0f0f0;
    }
    .ant-table-tbody>tr:first-child .ant-table-cell {
        border-top: 1px solid #f0f0f0;
    }
    .ant-table-tbody>tr:last-child .ant-table-cell {
        border-bottom: 1px solid #f0f0f0;
    }
    .ant-modal-content{
        display: flex;
        flex: 0 1 auto;
        //height: 100%;
        height: auto;
        flex-direction: column;
        max-height: inherit;
    }
    .ant-modal-header{
        display: flex;
        padding: 24px 24px 22px;
        position: relative;
        align-items: center;
        justify-content: space-between;
        border-bottom:transparent;
    }
    .ant-modal-body{
        flex-grow: 1;
        overflow-y: auto;
        padding-top: 0;
    }
    .ant-modal-footer{
        border-top:transparent;
        /*text-align: left!important;*/
    }



    .ant-form-item{
        margin-bottom: 8px;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }

    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none;
        content: "";
    }
}
