.scan-left-nav{
  position: relative;
  z-index: 1;
  background-color: #fafbfc;
/*  height: calc(100vh - 55px);*/
  height:100%;
  .left-tree-navs{
    display: flex;
    flex-direction: column;

    .left-tree-navs-title{
      padding-left: 20px;
      height: 40px;
      display: flex;
      line-height: 40px;
      width: 100%;
      align-items: center;
      font-weight: 600;
      border-bottom: 1px solid #E8E8E8;
    }
    .left-tree-nav{
      /*padding: 10px 30px;*/
      padding:6px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-tree-nav-icon{
        display: flex;
        gap: 5px;
        align-items: center;
      }

      .left-tree-nav-num{
        font-size: 13px;
        font-weight: normal;
      }
      &:hover{
        background-color: #E6EDFA;
        border-radius: 3px;
      }
    }
    .left-tree-nav-cursor{
      cursor: pointer;
    }
    .left-tree-child-nav{
      padding: 6px 5px 6px 37px;
      cursor: pointer;
      &:hover{
        background-color: #f0f3fa;
        border-radius: 3px;
      }
    }
    .left-tree-nav-opt{
      background-color: #f0f3fa;
      border-radius: 3px;
    }
  }
}
