.scan-left-nav{
  position: relative;
  z-index: 1;
  background-color: #fafbfc;
/*  height: calc(100vh - 55px);*/
  height:100%;
  .left-tree-navs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding:0 20px;
    .left-tree-nav{
      /*padding: 10px 30px;*/
      display: flex;
      cursor: pointer;
      padding: 6px;
      justify-content: space-between;
      align-items: center;
      .left-tree-nav-icon{
        display: flex;
        gap: 5px;
        align-items: center;
      }

      .left-tree-nav-num{
        font-size: 13px;
        font-weight: normal;
      }
      &:hover{
        background-color: #E6EDFA;
        border-radius: 3px;
      }
    }

    .left-tree-child-nav{
      padding: 6px 5px 6px 25px;
      cursor: pointer;
      &:hover{
        background-color: #f0f3fa;
        border-radius: 3px;
      }
    }
    .left-tree-nav-opt{
      background-color: #f0f3fa;
      border-radius: 3px;
    }
  }
}
