.ruleDrawer{
  .ruleDrawer-nav-style{
    display: flex;
    margin-bottom: 20px;
    .ruleDrawer-nav-title{
      width: 100px;
      color: #999999;
    }
    .ruleDrawer-nav-de{
      flex: 1;
    }
    .ruleDrawer-nav-desc{
      background-color: #EBECF0;
      padding: 15px;
    }
  }
  .ruleDrawer-nav-dec{
    color: #999999;
    margin-bottom: 10px;
  }
  .text-red{
    color: red;
  }
  .text-yellow{
    color: #df5000;
  }
  .text-blue{
    color: #3967FF;
  }
  .text-green{
    color: #55a532;
  }
}
