.xcode-breadcrumb{
    z-index: 100;
    font-size: 16px;
    font-weight: var(--tiklab-font-weight-bold);
    display: flex;
    justify-content: space-between;
    .xcode-breadcrumb-content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .xcode-breadcrumb-span{
        color: #00000073;
        padding-right: 8px;
    }
    .xcode-breadcrumb-secondItem{
        /*width: calc(100% - 75px);*/
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
