.homePage{
   /* background: var(--xcode-backdrop-color);*/
    &-content{
        &-top,&-center,&-bottom{
            display: flex;
        }
        &-center{
            margin: 15px 0;
        }
        .homePage-empty{
            padding-top: 20px;
        }
        .quickIn{
            margin-bottom: 15px;
            display: flex;
            &-group{
                min-width: 100px;
                line-height: 100px;
                height: 100px;
                text-align: center;
                border-radius: 4px;
                background: #f7f7f7;
                cursor: pointer;
                flex: 1;
                &:not(:last-child){
                    margin-right: 15px;
                }
                &-wrap{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .quickIn-group-title{
                        font-weight: var(--tiklab-font-weight-bold);
                    }
                    .quickIn-group-icon .icon{
                        width: 30px;
                        height: 30px;
                        vertical-align: -0.55rem;
                    }
                    .quickIn-group-number{
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        background: #f2f2f2;
                        border-radius: 50px;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
        }
        .houseRecent{
            border-radius: 4px;
            padding: 10px;
            /*height: 200px;*/
            background: #fff;
            flex: 1;
            margin-bottom: 15px;
            .houseRecent-title{
                display: flex;
                justify-content: space-between;
                .houseRecent-more-text{
                    color: #3967FF;
                    cursor: pointer;
                }
            }
            .houseRecent-repository{
                /*flex-wrap: wrap;*/
              /*  grid-column: span 5 / span 5;*/
                display: flex;
                gap: 1rem;
                margin-top: 5px;
                .houseRecent-border{
                    display: block;
                    position: relative;
                    box-sizing: border-box;
                    max-width: 308px;
                    background: #f7f7f7;
                    /*background-image: linear-gradient(rgb(244, 245, 247), transparent 33%);
                    box-shadow: var(--ds-shadow-raised,0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13));*/
                    border-radius: 3px;
                    padding: 16px;
                    cursor: pointer;
                    .houseRecent-border-flex{
                        display: flex;
                    }
                    .houseRecent-border-text-top{
                        padding-top: 30px;
                        justify-content: space-between;
                        margin:0 10px;
                    }
                    .houseRecent-border-text{
                        flex: 1;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        font-weight: 600;
                    }
                    .houseRecent-border-desc {
                        font-style: inherit;
                        margin-top: 7px;
                        line-height: 1.45455;
                        .title-color{
                            color: #6b778c;
                        }
                        .desc-text{
                            margin-left: 5px;
                        }
                    }
                }
                .houseRecent-border-width-20{
                    width: 20%;
                }
                .houseRecent-border-width-25{
                    width: 25%;
                }
            }
            .houseRecent-content{
                display: flex;
                justify-content: flex-start;
                padding-top: 5px;
            }
            .houseRecent-item{
                width: 232px;
                height: 120px;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                background-color: var(--backdrop-color);
                border-bottom: 2px solid rgba(255,255,255,0);
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
            .houseRecent-item:hover{
                border-radius: 4px 4px 0 0;
                border-bottom-color: var(--tiklab-blue);
                transition: 1s;
            }
            .houseRecent-item-title{
                padding-bottom: var(--tiklab-padding-item);
                .houseRecent-icon{
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    border-radius: 4px;
                    text-align: center;
                    color: black;
                    font-size: 13px;
                }
                .houseRecent-name{
                    display: inline-block;
                    max-width: 170px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    font-weight: var(--tiklab-font-weight-bold);
                }
            }
            .houseRecent-item-details{
                font-size: var(--tiklab-font-13);
                display: flex;
                justify-content: space-around;
                white-space: nowrap;
                .details-desc{
                    color: #9b9b9b;
                    padding-right: 8px;
                }
            }
            .houseRecent-item-detail{
                height: 40px;
                line-height: 40px;
                &:first-child{
                    margin-right: 10px;
                }
            }
        }



        .home-todo{
            background: #fff;
            padding: 10px;
            min-height: 50px;
            border-radius: 4px;

            .home-todo-tab {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .todo-tab-item {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    border-radius: 4px;
                    margin-top: 10px;
                    line-height: 35px;
                    cursor: pointer;
                    padding: var(--tiklab-padding);
                    background-color: var(--tiklab-gray-600);
                    gap: 10px;
                    .todo-tab-item-num{
                        font-weight: var(--tiklab-font-weight-bold);
                        /*padding-bottom: 10px;*/
                    }
                }
            }
            .status-item {
                cursor: pointer;
            }

        }
        .agency{
            flex: 1;
            background: #fff;
            border-radius: 4px;
            padding: 10px;
            min-height: 350px;
            margin-bottom: 15px;
            &-bottom{
                &-list{
                    padding: 8px;
                    &:not(:last-child){
                        border-bottom: 1px solid var(--tiklab-gray-200);
                    }
                    &:hover{
                        background: #f4f4f4;
                        border-radius: 4px;
                    }
                    .agency-item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &-title{
                            cursor: pointer;
                            font-weight: 500;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: inline-block;
                            overflow: hidden;
                            width: 105px;
                        }
                        &-time{
                            margin-top: 5px;
                        }
                        &-user{
                            width: 270px;
                            .user-create{
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: inline-block;
                                overflow: hidden;
                                vertical-align: top;
                            }
                            .createUser{
                                width: 50px;
                            }
                            .execUser{
                                max-width: 100px;
                            }
                            .user-arrow{
                                padding: 0 5px;
                            }
                        }
                        &-state{
                            width: 50px;
                            height: 25px;
                            line-height: 25px;
                            text-align: center;
                            font-size: 12px;
                            border-radius: 30px;
                        }
                        .state{
                            &-1{
                                background: #87d068;
                            }
                            &-2{
                                background: var(--tiklab-blue);
                            }
                            &-3{
                                background: red;
                            }
                        }
                    }
                }
            }
        }

    }


    .home-page-statistics{
        display: flex;
        width: 100%;
        gap: 10px;
        .home-page-tread{
            border-radius: 4px;
            background-color: var(--tiklab-gray-600);
            flex: 1;
            padding: 20px;
            .home-page-tread-title{
                display: flex;
                .survey-style-title-desc{
                    color: #999999;
                }
            }
        }
    }


    .no-data{
        padding-top: 10px;
        text-align: center;
        color: #666666;
        /* min-height: 100px;*/
    }
}



