.gittok-portal{
    height: 100vh;
    overflow: hidden;
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-width: 600px;
        height: var(--home-height);
        border-bottom: 1px solid #e9e9e9;
        /*background: var(--tiklab-blue);*/
        &-logo{
            gap: 10px;
            display: flex;
            height: var(--home-height);
            width: 100px;
            margin: 0 30px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-right{
            display: flex;
            flex-direction: row;
            justify-items: flex-end;
            align-items: center;
            height: 100%;
            padding-left: 30px;
            &-text{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                width: 100%;
                padding-right: 20px;
                gap: 15px;
            }
            &-search-wrap{
                position: relative;
                width: 100%;
            }
            .frame-header-right-text{
                margin-left: 20px;
            }
        }
        &-user,&-message{
            cursor: pointer;
            &:hover{
                background: rgba(255, 255, 255, 0.4);
                border-radius: 4px;
            }
        }
        &-icon{
            font-size: var(--tiklab-icon-size-22);
          /*  color: #ffffff;*/
        }
        &-icon-ban{
            color: #94979a;
            font-size: var(--tiklab-icon-size-22);
        }
        &-user{
            cursor: pointer;
        }
        &-message {
            margin-left: 15px;
            .ant-badge{
                margin-left: 15px;
                color: #fff !important;
            }
        }
        .headers{
            &-link{
                display: flex;
                flex-direction: row;
                flex-shrink: 0;
                gap: 24px;
              /*  color: #ffffff;*/
                & > div{
                    cursor: pointer;
                  /*  margin-right: 10px;*/
                    height: 48px;
                    line-height: 48px;
                    /*padding: 0 10px;*/
               /*     &:not(:last-child){
                        margin-right: var(--tiklab-padding-item);
                    }*/
                }
            }
            &-active{
                border-bottom:2px solid #0063FF;
                color: #0063FF;
                font-weight: 500;
            }
            &-active-item {
                cursor: pointer;
                overflow: hidden;
                height: 48px;
                line-height: 48px;
                flex-shrink: 0;
                span {
                    padding: 5px;
                }
            }
            &-active-item:hover {
                span {
                    background: #E1EDFF;
                    border-radius: 3px;
                    color: var(--tiklab-blue);
                }
            }
        }
    }
    &-content{
       /* height: var(--xcode-content-height);*/
    }
}
.portals-content{
    background: var(--tiklab-white);
    height: var(--content-height-100);
}
.text{
   /* color: #f6f6f6;*/
    font-size: 19px;
    margin-top: 9px;
    font-weight: 500;
}
