.code-tree{
  position: relative;
  z-index: 1;

  background-color: var(--tiklab-scan-data);
  .code-tree-open{
    border-right: 1px solid #f0f2f5;
    width: 300px;

    .code-tree-open-code{
      overflow: auto;
      height: calc(100vh - 170px);
      padding: 0 10px ;
    }

    .code-omit{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }
    .code-tree-open-code-height{
      overflow: auto;
      height: calc(100vh - 105px);
      padding: 10px;
    }

    .tree-open-title-style{
      align-items: center;
      padding: 10px;
      margin-top: 5px;
      .tree-open-title-style-t{
        display: flex;
        font-size: 16px;
        margin-right: 10px;
        gap: 5px;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
      }

      .tree-open-title-style-head{
        display: flex;
        gap: 40px;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 10px;
        .title-style-head-t{
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          font-weight: var(--tiklab-font-weight-bold);
        }
        .title-style-head-ta{
          /*display: flex;
          gap: 15px;
          font-size: 15px;
          font-weight: normal;
          cursor: pointer;
          justify-content: center;*/
          display: flex;
          cursor: pointer;
          border-radius: 5px;
          background-color: #efefef;
          .title-style-head-ta-text{
            padding: 2px 15px;
          }
          .title-style-head-ta-text-ch{
            background-color: #DCDCDC;
            border-radius: 5px;
          }
        }
        .title-style-head-ta-ch{
          color: #0063FF;
          border-bottom: 2px solid #0063FF;
          height: 30px;
        }
      }

      .tree-open-title-style-tab{
        display: flex;
        gap: 15px;
        align-items: center;
        padding-top: 10px;
        justify-content: center;
      }
      /*border-bottom: 1px solid #f0f0f0;*/
      .tree-open-title-style-text{
        padding: 3px 6px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #efefef;
      }
      .tree-open-title-style-tex-choice{
        color: #0d66e4;
        background-color: #e3e8f0;
      }
    }

    .tree-open-title-code{
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      font-weight: var(--tiklab-font-weight-bold);
      padding: 10px 0 0 10px;
    }

    .code-tree-project{
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      padding-left: 15px;
      font-size: 14px;
      font-weight: var(--tiklab-font-weight-bold);
      margin-bottom: 5px;
      color: #7e8085;;
    }

    .code-tree-nav{
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      padding: 5px;
      .code-tree-nav-icon{
        display: flex;
        gap: 5px;
      }
    }

    .code-tree-nav-choice{
      background-color:var(--tiklab-gray-300);
      border-radius: 4px;
    }

    .code-tree-open-top{
      display: flex;
      border-top: 1px solid #f0f0f0;;
      padding:12px 10px;
      align-items: center;

      .code-tree-open-top-left{
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
      }
    }
    .code-tree-open-top-between{
      justify-content:space-between;
    }
    .code-tree-open-top-end{
      justify-content: end;
    }
  }

  .code-tree-close{
    border-right: 1px solid #f0f2f5;
    height: 100%;
    width: 40px;
    padding: 13px 10px 0 13px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    cursor: pointer;
  }

  .code-left-nav-text{
    padding-left: 15px;
  }

}
.code-tree-open-code::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.code-tree-open-code:hover::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

.code-tree-open-code-height::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.code-tree-open-code-height:hover::-webkit-scrollbar {
  width: 5px;
  height: 0;
}
