/*.render-bread-item{
  word-break: break-all;
  &:not(:last-child){
      margin-right: 5px;
    }
  &:nth-child(odd):hover{
    cursor: pointer;
    text-decoration: underline;
    color: #0d66e4;
  }
}*/

.render-bread-item{
  padding: 0 5px;

}

.bread-item-name:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #0d66e4;
}
