.scan-log{
  height: 100%;
  width: 100%;
  min-width: 500px;
  padding: 0 15px;
  .scan-log-bread{
    padding: 15px 0 10px;

    .scan-log-bread-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .bread-center{
      display: flex;
      padding-top: 10px;
      .bread-center-item{
        font-size: 13px;
        &:not(:last-child){
          margin-right: 15px;
          padding-right: 15px;
          border-right: 1px solid #d9d9d9;
        }
        .bread-center-name{
          padding-right: 8px;
        }
        .bread-center-desc{
          text-align: center;
          font-weight: bold;
          padding-top:10px;
        }
      }
    }
  }

  .scan-log-bottom{
    height: calc(100% - 83px);
    display: flex;
    flex-direction: row;
    .scan-detail-log{
      flex: 1;
      overflow: auto;
      border-radius: 4px;
      padding: 10px;
      background: #000000;
      color: #ffffff;
      word-wrap: break-word;
      white-space: pre-wrap;
      .bottom-log{
        color: #fff;
        padding: 10px;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .bottom-log-item:not(:last-child){
        margin-bottom: 50px;
      }
    }
  }

  .bread-center-success{
    color: forestgreen;
  }
  .bread-center-fail{
    color: red;
  }
  .bread-center-run{
    color: #1890ff;
  }
}
