.integration-openApi{
  width: 100%;
  height: 100%;
  overflow: auto;
  .ant-col{
    min-width: 720px;
  }
  .integration-openApi-ul{
    border-radius: 4px;
    border: 1px solid #ececec;
    margin-top: 15px;
    background-color: #f8f8f8;
    .integration-openApi-li{
      display: flex;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      .openApi-li-icon{
        font-size: 18px;
        margin-right: 10px;
        font-weight: var(--tiklab-font-weight-bold);
      }
      .openApi-li-center{
        flex-grow: 1;
        .openApi-li-title{
          font-weight: var(--tiklab-font-weight-bold);
        }
        .openApi-li-desc{
          font-size: var(--tiklab-font-13);
          color: var(--tiklab-gray-500);
        }
      }
    }
  }
}
