.xcode-setting{
    display: flex;
    width: 100%;
    height: 100%;
    .setting-nav-text{
        font-size: var(--tiklab-font-14);

    }
    .setting-nav-style{
        font-size: var(--tiklab-font-14);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .xcode-setting-aside{
        height: 100%;
        width: 180px;
        background-color: var(--tiklab-left-nav);
        .xcode-setting-aside-head{
            height: 40px;
            line-height: 40px;
            width: 100%;
            padding: 0 20px;
            font-weight: var(--tiklab-font-weight-bold);
            border-bottom: 1px solid #ececec;

        }
        .setting-aside-item{
            padding: 8px 20px;
            cursor: pointer;
            &:hover{
                background: var(--tiklab-gray-300);
            }
        }
        .setting-aside-select{
            background: var(--tiklab-gray-400);
        }
    }

    .xcode-setting-content{
        flex: 1;
        height: 100%;
        overflow: auto;
    }
}
