.scheme-details-drawer {
  /*height: 100%;*/
  width: 100%;
  min-width: 600px;
  .data-title-desc {
    margin: 10px 0;
    color: #94979a;
  }


  .table-icon-style{
    display: flex;
    gap: 15px;
    .icon-style{
      cursor: pointer;
    }
  }

  .details-table-name{
    display: flex;
    flex: 1;
    &:hover{
      color: #1890ff;
    }
    .table-name-text{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }
    .table-name-icon{
      margin-left: 10px;
      display: inline-block;
      color: #707070;
      background-color: #EBECF0;
      font-size: 12px;
      line-height: 20px;
      padding: 0 7px;
      border: 1px solid #e5e5e5;
      border-radius: 100px;
      font-weight: 400;
    }

  }


  .text-red{
    color: red;
  }
  .text-yellow{
    color: #df5000;
  }
  .text-blue{
    color: #3967FF;
  }
  .text-green{
    color: #02ba8b;
  }
}
