
.xcode-listname-href{
    cursor: pointer;
}

.project-width{
    width: var(--tiklab-icon-size-32);
    height: var(--tiklab-icon-size-32);
    line-height: var(--tiklab-icon-size-32);
}
.closeNav-width{
    width: var(--tiklab-icon-size-32);
    height: var(--tiklab-icon-size-32);
    line-height: var(--tiklab-icon-size-32);
}

.library-width{
    width: 34px;
    height: 34px;
    line-height: 34px;
}
.openNav-width{
    width: 24px;
    height: 24px;
}

.xcode-listname-icon{
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: black;
    background-color:#cadbf3;
    cursor: pointer;
}
.icon-tab-mar{
    margin-right: 5px;
}

.xcode-listname-name{
    color: var(--tiklab-blue);
}
.xcode-icon-0 {
    background: #cadbf3;
}


.xcode-icon-1 {
    background: #e8eaf6;
}
.xcode-icon-2 {
    background: #e0f2f1;
}
.xcode-icon-3 {
    background: #e3e9ed;
}
.xcode-icon-4 {
    background: #ceeae8;
}
