.repository-delete{
    .desc-border{
        border: 1px solid var(--tiklab-red-700);
        background-color: var(--tiklab-red-600);
        color: #FF0000;
        padding: 10px 20px;
        .desc-text{
            color: var(--tiklab-black);
            font-weight: var(--tiklab-font-weight-bold);
            padding-left: 10px;
        }
    }
    .data-table{
        margin-top: 15px;
    }
}
