
.xcode-user-icon{
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  color: white;

}
.xcode-icon-size-middle{
  line-height: var(--tiklab-icon-size-32);
  width: var(--tiklab-icon-size-32);
  height: var(--tiklab-icon-size-32);
}
.xcode-icon-size-small{
  line-height: var(--tiklab-icon-size-25);
  width: var(--tiklab-icon-size-25);
  height: var(--tiklab-icon-size-25);
}
.xcode-icon {
  background: #cccccc;
}



