@import "Normalize";

ul li{
    list-style: none;
}
/*弹窗右侧关闭按钮样式*/
.ant-modal-close-x {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.antd-custom,.ant-modal,.ant-drawer,.ant-table {
    .ant-form-item{
        margin-bottom: 20px !important;
    }
    .ant-form-item-label>label {
        color: #666;
        font-size: 13px;
        font-weight: 500;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-left: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }


    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none !important;
        content: "" !important;
    }
    .ant-form-item-explain{
        font-size: 13px !important;
    }
    .ant-form-item-explain-error{
        min-height: 20px !important;
        height: 20px !important;
    }
    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon{
        background-color: var(--tiklab-blue);
    }
    .ant-steps-item-finish .ant-steps-item-icon{
        border-color: var(--tiklab-blue);
    }
    .ant-steps-item-finish .ant-steps-finish-icon{
        color: var(--tiklab-blue);
    }
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after{
        background-color: var(--tiklab-blue);
    }
    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        position: static;
    }
    .ant-table-thead>tr>th{
        background: #ffffff;
        font-size: 13px;
        color: #777;
        font-weight: 600;
        padding: 8px;
    }

    .ant-table-column-sorters{
        padding: 1px;
    }
    .ant-table-tbody>tr>td{
        border: none;
        padding: 8px;
    }
    .ant-table{
        border-bottom: 1px solid #f0f0f0;;
    }
    .ant-transfer-list{
        background: #ffffff;
        border: none;
    }
    .ant-transfer-list-search-action{
        top:22px
    }
    .ant-transfer-list-header-dropdown{
        display: none;
    }
    .ant-transfer-list-header{
        border: none;
    }
    .ant-modal-footer{
        border:none;
    }
    .ant-empty-image{
        margin-bottom: 0;
        .ant-empty-img-default{
            width: 100px;
        }
    }
    .ant-empty-description{
        font-size: 13px;
        color: #999;
        padding-bottom: 8px;
    }
    .icon {
        width: 16px;
        height: 16px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }



}


.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: #ffffff !important;
}


/*ant-form 样式修改*/
.sourcefare .ant-form{
    .ant-form-item-label>label {
        color: #666;
        font-size: 13px;
        font-weight: 500;
    }
    .ant-form-item{
        margin-bottom: 18px;
    }
    .ant-form-item-label>:not(.ant-form-item-required):after{
        display: none;
    }
    .ant-form-item-required:not(.ant-form-item-required-mark-optional):before{
        display: none;
    }
    .ant-form-item-required:not(.ant-form-item-required-mark-optional):after{
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
    .ant-form-item-explain{
        font-size: 13px;
    }
    .ant-form-item-explain-error{
        min-height: 20px;
        height: 20px;
    }
}


/*ant-table 样式修改*/

.sourcefare .ant-table-tbody>tr>td{
    border: none;
    padding: 8px ;
}

/*antd 下拉框样式修改*/
.drop-down .ant-select-selector{
    background-color: #efefef!important;
    border:none !important;
}



.sourcefare .ant-transfer-list{
    background: #ffffff;
    border: none;
}

.sourcefare .ant-transfer-list-search-action{
    top:22px
}

.sourcefare .ant-transfer-list-header-dropdown{
    display: none;
}

.sourcefare .ant-transfer-list-header{
    border: none;
}

.sourcefare .ant-modal-footer{
    border:none;
}

.sourcefare .icon {
    width: 16px;
    height: 16px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.sourcefare .ant-avatar{
    width: 22px !important;
    height: 22px !important;
    font-size: 12px !important;
}

.ant-message{
    top: 50px;
    .ant-message-notice{  /*sourcefare-message*/
        padding: 0;
    }
    .ant-message-notice-content{
        width: 30%;
        background: #e8eaf3;
        box-shadow: none;
    }
}

.sourcefare-icon{
    &-0{
        background: #f3caca;
    }
    &-1{
        background: #cadbf3;
    }
    &-2{
        background: #e8eaf6;
    }
    &-3{
        background: #ffebee;
    }
    &-4{
        background: #deedd7;
    }
    &-5{
        background: #caf3ef;
    }
}



::-webkit-scrollbar {
    /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: #fff;
    width: 10px;
    height: 10px;
    /* background: #ccc; */
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 10px;
    background: #EDEDED;
}
/*定义滑块样式*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height:10px;    /* 滚动条滑块长度 */
    background-color: #ccc;
}

:root {
    --tiklab-white: #fff;   /* 主色调白*/
    --tiklab-black: #000;   /*主色调黑 */
    --tiklab-blue: #0d66e4;   /* 主色调蓝*/
    --tiklab-gree: #4cbb17 ;   /* 主色调蓝*/
    --tiklab-gray-200: #ececec;  /*border 的边线 */
    --tiklab-gray-300: #EDF0F5;  /*hover颜色 */
    --tiklab-gray-400: #e3e8f0;  /*左侧导航 选中颜色 */
    --tiklab-gray-500: #999; /* 文字次级颜色灰色调*/
    --tiklab-gray-600: #fafbfc; /* 内容区域色调 */
    --tiklab-gray-700: #f0f3fa; /* 侧边栏色调(一级) */
    --tiklab-gray-800: #fafbfc; /* 侧边栏色调(二级) */

    --tiklab-scan-data: #fafbfc;

    --tiklab-gray: #f7f8fa;  /* 主色调灰 左侧导航*/
    --tiklab-gray-color: #efefef;  /*主色调灰 左侧一级导航*/
    --tiklab-red-700:#ffccc7;
    --tiklab-red-600: #fff2f0;
    --tiklab-red:#FF0000;
    --tiklab-merge-back-gree:#d6fedb;
    --tiklab-merge-text-gree:#55a532;
    --tiklab-merge-back-gray:#EBECF0;
    --tiklab-merge-text-gray:#999999;
    --tiklab-merge-back-red:rgb(254, 210, 210);;
    --tiklab-merge-text-red:rgb(202, 22, 40);;
    --tiklab-left-nav:#fafbfc;  /* 左侧导航背景*/


    --tiklab-padding: 20px;  /*页面边距 */
    --tiklab-padding-resove: -20px; /* 页面边距*/
    --tiklab-padding-item: 15px;  /*元素间隔边距 */
    --tiklab-padding-resove-item:-15px;  /*元素间隔边距 */

    --tiklab-font-12: 12px;  /*图文排需要的文字 */
    --tiklab-font-13: 13px;  /*描述文字 */
    --tiklab-font-14: 14px; /*正文 */
    --tiklab-font-15: 13px;  /* 2级标题*/
    --tiklab-font-16: 16px;  /*标题 */

    --tiklab-font-weight-bold: bold;  /*标题字重 */

    /* 图标大小 */
    --tiklab-icon-size-16: 16px;
    --tiklab-icon-size-20: 20px;
    --tiklab-icon-size-22: 22px;
    --tiklab-icon-size-25: 25px;
    --tiklab-icon-size-32: 32px;
    --tiklab-icon-size-45: 45px;

    --tiklab-input-icon-15: 15px;
    --tiklab-input-icon-16: 16px;

    /* 距离 */
    --tiklab-distance-13:13px;
    --tiklab-distance-15:15px;
    --tiklab-distance-18:18px;
    --tiklab-distance-20:20px;


    /*大小 */
    --tiklab-size-15: 15px;
    --tiklab-size-16: 16px;
    --tiklab-size-18: 18px;
    --tiklab-size-20: 20px;
    --tiklab-size-22: 22px;
    --tiklab-size-24: 24px;
    --tiklab-size-26: 26px;
    --tiklab-size-32: 32px;

    /*主题颜色*/
    --tiklab-motif-color-defult: #f7f7f7;
    --tiklab-motif-color-blue: #2f5eb1;
    --tiklab-motif-color-black: #131d30;

    /*导航栏*/
    --nav-left-space:20px;  /*导航栏左边距*/
    --nav-left-border-size:3px;  /*导航栏左边框大小*/
    --nav-icone-text-space:10px;  /*导航栏图标和文件间距  左右*/
    --nav-icone-open-size:18px;  /*打开后的导航栏图标大小*/
    --nav-icon-width:50px;   /*导航栏图标宽度*/
    --project-setting-min-width:700px;   /*项目中的设置最小宽度*/


    --hover-color: var(--tiklab-gray-300) ;
    --backdrop-color: #f7f7f7;
    --home-height:48px;
    --content-height-100:100%; /* content 高度 calc(100vh - 48px)*/;

    --data-table-10:10px;
    --data-top-20:20px;
    --data-top-30:30px;

}

.sourcewair-page-width{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    .ant-col{
        min-width: 900px;
    }
}


