
/* input 输入框样式*/
.input-custom.ant-input-affix-wrapper{
  border:none !important;
  background-color:#efefef !important;
  border-radius: 4px !important;
  .ant-input{
    background-color:#efefef !important;
  }
}
.input-icon{
  font-size: var(--tiklab-input-icon-15);
}
