.system {
    display: flex;
    width: 100%;
    height: 100%;
    .system-icon{
        display: flex;
        padding: 11px 0;
        align-items: center;
        gap: var(--nav-icone-text-space);
        margin-left: var(--nav-left-space);
        .icon-text{
            font-size: 22px;
        }
    }
    .setting-nav-text{
        font-size: var(--tiklab-font-13);
    }
    &-aside {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 220px;
        background-color: #f0f3fa;
        border-right: 1px solid #EBECF0;
        &-sys{
            width: 100%;
            text-align: center;
            padding-top: 10px;
            height: 45px;
            border-top: 1px solid var(--tiklab-gray-200);
            cursor: pointer;
        }
        &-top{
            height: 100%;
            overflow: hidden;
            &:hover{
                overflow: auto;
            }
        }
        .aside-text-size{
            font-size: 16px;
            font-weight: bolder;
            cursor: pointer;
        }
        ul,li {
            list-style: none;
        }
        &-hidden {
            display: none;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            cursor: pointer;
        }
        &-title{
            padding-right: 7px;
        }
        .system-aside-first {
            padding-left: 20px;
            cursor: pointer;
            &:hover{
                background: var(--tiklab-gray-400);
            }

        }


        .system-aside-second{
            padding-left: 40px;
            cursor: pointer;
            &:hover{
                background: var(--tiklab-gray-300);
            }
        }

        .system-aside-second-20{
            padding-left: 20px;
        }
        .system-aside-second-40{
            padding-left: 40px;
        }
        &-li {
            line-height: 40px;
        }
        &-ul {
            padding: 0;
        }
        &-select {
            background: var(--tiklab-gray-400);
            border-left: 3px solid var(--tiklab-blue);
        }
        .system-aside-goHome{
            &:hover{
                background: var(--tiklab-gray-400);
            }
            .system-aside-title-nav{
                display: flex;
                border-bottom: 1px solid #EBECF0;
                padding: 10px var(--nav-left-space);
                align-items: center;
                gap: var(--nav-icone-text-space);
                cursor: pointer;
                .system-aside-icon{
                    font-size: var(--nav-icone-open-size);
                }
            }
        }


    }

    .system-data-tab{
        flex: 1;
        overflow: auto;
        height: var(--content-height-100)
    }
    .sys-content-tab-style{
        display: flex;
        align-items: center;
        gap: var(--nav-icone-text-space);

    }

    .sys-content-icon{
        font-size: 18px;
    }

    .nav-style{
        display: flex;
        align-items: center;
        padding-right: 20px;
        gap: 10px;
        .nav-style-title{
            flex: 1;
        }
    }
}
