.down-select{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background-color: #ffffff;
    width: 180px;
    .down-select-nav{
        padding: 6px 0 6px 20px;
    }
    .select-exec{
        display: flex;
        padding: 10px;
        justify-content:flex-end;
    }
}
.select-view{
    position: relative;
    cursor: pointer;
    .select-content{
        display: flex;
        padding: 5px 10px;
        background-color: var(--tiklab-gray-color);
        width: 120px;
        border-radius:3px;
        align-items: center;
        justify-content: space-between;
        .select-number {
            width: 16px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            background: #e3e8f0;
            border-radius: 16px;
            font-size: 12px;
        }
        .select-icon{

        }
    }
}
