.integration-tool-pop{
  display: flex;
  gap: 10px;
  .tool-pop-border{
    border: 1px solid #ececec;
    padding: 8px;
    border-radius: 2px;
    flex: 1;
    cursor: pointer;
    .tool-pop-border-desc{
      font-size: 12px;
      color: var(--tiklab-gray-500);
    }
  }
  .tool-pop-border-opt{
    border-color: var(--tiklab-blue)
  }
}

.tool-pop-detection{
  margin-bottom: 20px;
  .tool-pop-detection-title{
    color: #666;
    font-size: 13px;
    font-weight: 500;
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
    &:after{
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
    }
  }

  .tool-pop-detection-error{
    color: #ff4d4f;
  }

}
