@font-face {
  font-family: "iconfont"; /* Project id 3873189 */
  src: url('iconfont.woff2?t=1676449139439') format('woff2'),
       url('iconfont.woff?t=1676449139439') format('woff'),
       url('iconfont.ttf?t=1676449139439') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e615";
}

.icon-java:before {
  content: "\e66b";
}

.icon-ts:before {
  content: "\e6a3";
}

.icon-md:before {
  content: "\e63e";
}

.icon-cmd:before {
  content: "\e8aa";
}

.icon-powershell:before {
  content: "\e680";
}

.icon-subscript-2:before {
  content: "\e781";
}

.icon-superscript-2:before {
  content: "\e787";
}

.icon-align-right:before {
  content: "\e7f5";
}

.icon-align-center:before {
  content: "\e7f6";
}

.icon-align-left:before {
  content: "\e7fc";
}

.icon-link:before {
  content: "\e891";
}

.icon-xuanzhong:before {
  content: "\e606";
}

.icon-terminal-line:before {
  content: "\e849";
}

.icon-align-justify:before {
  content: "\e61a";
}

.icon-image:before {
  content: "\e7de";
}

.icon-table-2:before {
  content: "\e7df";
}

.icon-font-color:before {
  content: "\e7f8";
}

.icon-emoji:before {
  content: "\e6f6";
}

.icon-list-ordered:before {
  content: "\e63d";
}

.icon-indent-increase:before {
  content: "\e7b9";
}

.icon-indent-decrease:before {
  content: "\e735";
}

.icon-list-check:before {
  content: "\e737";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-double-quotes-l:before {
  content: "\e8d2";
}

.icon-bold:before {
  content: "\e7f7";
}

.icon-strikethrough:before {
  content: "\e7f9";
}

.icon-underline:before {
  content: "\e7fa";
}

.icon-italic:before {
  content: "\e7fb";
}

.icon-code-view:before {
  content: "\e7b8";
}

.icon-delete:before {
  content: "\e605";
}

.icon-scss:before {
  content: "\e657";
}

.icon-css:before {
  content: "\e63c";
}

.icon-sql:before {
  content: "\e63b";
}

.icon-yaml:before {
  content: "\e625";
}

.icon-txt:before {
  content: "\e611";
}

.icon-xml:before {
  content: "\e63a";
}

.icon-backpack:before {
  content: "\e660";
}

.icon-buzzer:before {
  content: "\e662";
}

.icon-candy:before {
  content: "\e663";
}

.icon-helmet:before {
  content: "\e66a";
}

.icon-icon-test:before {
  content: "\e604";
}

.icon-meiyouxiangguan:before {
  content: "\e610";
}

.icon-git:before {
  content: "\e658";
}

.icon-renwu:before {
  content: "\ff84";
}

.icon-xingxing1:before {
  content: "\e603";
}


.icon-xingxing-kong:before {
  content: "\e503";
}

.icon-weidaqiadewenjianjia:before {
  content: "\e600";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-xiazai:before {
  content: "\e620";
}

.icon-postcss:before {
  content: "\e67f";
}

.icon-webpack:before {
  content: "\e6ae";
}

.icon-json:before {
  content: "\e639";
}

