.scan-issue{
    height: 100%;
    display: flex;
    .scan-req-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .scan-req-search{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .scan-req-search-right{
            display: flex;
            gap: 15px;
        }
    }
    .scan-req-tab{

    }

    .scanDetails-hole-red{
        color: red;
    }
    .scanDetails-hole-dired{
        color:#df5000;
    }
    .scanDetails-hole-blue{
        color:#1890ff;
    }
    .scanDetails-hole-green{
        color: #02ba8b;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        position: relative;
        background-color: #efefef;
        border: none;
        border-radius: 4px;

    }
}

.scan-issue-text{
   cursor: pointer;
    &:hover{
        color: #1890ff;
    }
}
.scan-issue-page-width{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
    .ant-col{
        min-width: 800px;
    }
}
.scan-req-state{
    width: 60px;
    padding: 3px 0;
 /*   background-color: #BBFADA;*/
    border-radius: 4px;
    text-align: center;
    color: #22863a;
}
.scan-req-state-no{
    width: 60px;
    padding: 3px 0;
  /*  background-color: #FFE0B3;*/
    border-radius: 4px;
    text-align: center;
    color: #ee9900;
}


