.layerSetup{
    display: flex;
    width: 100%;
    height: 100%;
    .layer-title{
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        font-weight: 600;
        border-bottom: 1px solid #E8E8E8;
    }
    .layer-nav{
        height: 100%;
        width: 200px;
        background-color: var(--tiklab-left-nav);
    }
    .layer-nav-char{
        padding-left: 25px;
    }
    .layer-choice-table{
        background-color: var(--tiklab-gray-400);
    }
    .nav-tabs{
        padding: 10px 0;
        cursor: pointer;

    }
    .pitch-nav-table:hover{
        background-color: #EBECF0;
    }
    .layer-right-style{
        width: 100%;
        overflow: auto;
    }
}
