.top-nav{
    display: flex;
    flex-direction: column;
    justify-items: end;
    margin-bottom: 10px;
    .close-iconfont{
        font-size: var(--tiklab-size-18);
    }
    .open-iconfont{
        font-size: var(--tiklab-size-18);
        width: var(--nav-icon-width);
        display: flex;
        justify-content: center;
    }
    .nav-tab-open-help{
        display: flex;
        flex-direction: column;
    }
    .close-top-tab{
        display: flex;
        text-align:center;
        justify-content: center;
        padding: 10px 0;
    }
    .open-top-tab{
        display: flex;
        line-height: 40px;
        align-items: center;
        cursor: pointer;

    }


    .head-portrait{
        width: 24px;
        height: 24px;
        border-radius: 24px;
        color: #fff;
        background-color: #cadbf3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .head-open-portrait{
        width: var(--tiklab-size-24);
        height: var(--tiklab-size-24);
        border-radius: 24px;
        color: #fff;
        background-color: #cadbf3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-size: 15px
    }
}


