.duplicated{
  margin-bottom: 15px;
  gap: 15px;
  .duplicated-bread{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px ;
    font-size: 15px;
    color: #777777;
    font-weight: 400;
  }

  .duplicated-code-details{
    border-top: 1px solid #f0f0f0;
    padding: 20px 0;
    background-color: #ffffff;
  }
}
