.complexity{
  margin-bottom: 15px;
  gap: 15px;
  .complexity-bread{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px ;
    font-size: 15px;
    color: #777777;
    font-weight: 400;
  }
}
