.cover{
  margin-bottom: 15px;
  gap: 15px;
  padding:  20px 30px;

  .cover-bread{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px ;

    font-size: 15px;
    color: #777777;
    font-weight: 400;
    .bread-item{
      word-break: break-all;
      &:not(:last-child){
        margin-right: 5px;
      }
      &:nth-child(odd):hover{
        cursor: pointer;
        text-decoration: underline;
        color: #0d66e4;
      }
    }
  }


  .cover-bread-icon {
    cursor: pointer;
    padding-right: 5px;
  }
}

.cover-nav{
  display: flex;
  gap: 5px;
  align-items: center;
}

.opt-cover-nav{
  cursor: pointer;
  &:hover{
    color: #0d66e4;
    cursor: pointer;
    text-decoration: underline;
  }
}

.cover-page-width{
  width: 100%;
  height: calc(100vh - 130px);
  overflow: auto;
  padding: 20px 30px;
  .ant-col{
    min-width: 900px;
  }
}
