.scanRecord{
    height: 100%;

  .scanRecord-header{

    /*justify-content: space-between;*/
    /* padding: 0 30px;*/
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 30px 0 10px;

    .canRecord-header-left{
      display: flex;
      /*  justify-content: space-between;*/
      gap: 100px;
      .canRecord-header-left-title{
        height: 40px;
      }
    }
    .scan-tab-style{
      display: flex;
      gap: 20px;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      justify-content: center;
      .choose-scanRecord-type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
        height: 40px;
      }

      .scan-tab-style-num{
        color: #9b9b9b;
        margin-left: 5px;
        font-size: 13px;
      }
    }

    .scan-play-style{
      justify-content: end;
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 15px;
      font-weight: normal;
      cursor: pointer;
      .scan-play-text{
        margin-left: 8px;
        font-size: 18px;
      }
      .scan-but-style{
        display: flex;
        gap: 15px;
      }
    }
  }

  .scan-play-desc{
    display:flex;
    margin-left: 8px;
    gap: 30px;
    align-items: center;

    .scan-play-desc-nav{
      display: flex;
      gap: 7px;
      .scan-play-desc-title{

      }
      .scan-play-desc-data{
        color: #94979a;
      }
    }
  }

  .scanRecord-data-top{
    margin-top: 20px;
  }

  .scan-data-style {
    .scan-tab-style{
      display: flex;
      gap: 20px;
      font-size: 16px;
      font-weight: normal;
      margin-left: 8px;
      cursor: pointer;
      border-bottom: 1px solid #f0f0f0;
      .choose-scanRecord-type{
        color: #0063FF;
        border-bottom:2px solid #0063FF;
      }

      .scan-tab-style-num{
        color: #9b9b9b;
        margin-left: 5px;
        font-size: 13px;
      }
    }
    .scan-tab-desc{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 10px 0;
      .scan-tab-desc-num{
        margin-left: 5px;
        font-size: 15px;
        color: #999999;
      }
    }

    .scan-data-desc{
      margin-top: 20px;
      margin-left: 8px;
    }
    .icon-text{
      gap: 5px;
      display: flex;
    }
  }

  .scan-record-text{
    cursor: pointer;
    &:hover{
      color: #1890ff;
    }
  }
  .text-red{
    color: red;
  }
  .text-yellow{
    color: #ee9900;
  }
  .text-blue{
    color: #3967FF;
  }

  .table-icon{
    display: flex;
    gap: 12px;
  }
}

.scan-report-page-width{
  width: 100%;
  height: calc(100vh - 65px);
  overflow: auto;
  padding: 0 30px 20px 30px;
 /* min-width: 700px;*/
  .ant-col{
    min-width: 800px;
  }
}




/*.scan-report-page-width::-webkit-scrollbar {
  width: 7px;
  height: 0;
}*/

/*.scan-report-page-width:hover::-webkit-scrollbar {
  width: 7px;
  height: 0;
}*/
