.scan-code{
  display: flex;
  height: 100%;
  .scan-code-navi{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 15px 0;
    font-size: 15px;
    color: #777777;
    font-weight: 400;
    align-items: center;
    .scan-code-navi-icon{
      cursor: pointer;
      padding-right: 5px;
    }
  }

  .scan-code-info{
    display: flex;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0 15px 0;
    .scan-code-info-nav{
  /*    display: flex;*/
      display: flex;
      gap: 10px;
      flex-direction: column;
      width: 25%;
      align-items: center;
      .scan-code-info-nav-num{
        font-size: 15px;
      }
    }
  }

  .scan-code-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #f0f0f0;
    .scan-code-title-name{
      width: 40%;
      font-size: 13px;
      color: #777;
      font-weight: 600;
    }
    .scan-code-title-num{
      width: 16%;
      font-size: 13px;
      color: #777;
      font-weight: 600;
    }
  }
  .scan-code-tab{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 8px;
    .scan-code-tab-line{
      display: flex;
      align-items: center;
      .scan-code-tab-name{
        display: flex;
        align-items: center;
        width: 40%;
        gap: 5px;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
          color: #0d66e4;
        }
      }
      .scan-code-tab-num{
        display: flex;
        align-items: center;
        width: 16%;
      }

    }
  }

  .scan-code-details{
    border-top: 1px solid #f0f0f0;
    padding: 20px 0;
    background-color: #ffffff;
  }
}
.bread-item{
  word-break: break-all;

  /*font-weight: var(--tiklab-font-weight-bold);*/
  &:not(:last-child){
    margin-right: 5px;
  }
  &:nth-child(odd):hover{
    cursor: pointer;
    text-decoration: underline;
    color: #0d66e4;
  }
}

.scan-code-page-width{
  width: 100%;;
  height: calc(100vh - 55px);
  overflow: auto;
  padding: 0 10px 10px 10px;
  .ant-col{
    min-width: 720px;
  }

  .scan-code-num{
    color: #2F2F2F;
  }
  .scan-code-num-server{
    color: red;
  }
  .scan-code-num-error{
    color: #df5000;
  }
  .scan-code-num-notice{
    color: #1890ff;
  }
  .scan-code-num-suggest{
    color: #02ba8b;
  }
}
